<template>
  <v-container>
    <v-layout text-xs-center wrap>
      <v-flex mb-4>

    <div class="availability">
      <div class="availability__weeks">
        <div
          v-if="locations.mobile"
          class="availability__week"
        >
          <p class="title text-xs-center text-sm-center text-md-center">
            Mobile 1
          </p>
          <ul class="availability__days">
            <!-- Sunday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Sunday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.mobile.Sunday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.mobile.Sunday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Sunday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Sunday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.mobile.Sunday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.mobile.Sunday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.mobile.Sunday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.mobile.Sunday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Sunday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Sunday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.mobile.Sunday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Monday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Monday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.mobile.Monday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.mobile.Monday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Monday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Monday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.mobile.Monday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.mobile.Monday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.mobile.Monday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.mobile.Monday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Monday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Monday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.mobile.Monday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Tuesday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Tuesday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.mobile.Tuesday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.mobile.Tuesday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Tuesday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Tuesday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.mobile.Tuesday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.mobile.Tuesday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.mobile.Tuesday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.mobile.Tuesday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Tuesday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Tuesday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.mobile.Tuesday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Wednesday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Wednesday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.mobile.Wednesday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.mobile.Wednesday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Wednesday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Wednesday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.mobile.Wednesday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.mobile.Wednesday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.mobile.Wednesday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.mobile.Wednesday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Wednesday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Wednesday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.mobile.Wednesday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Thursday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Thursday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.mobile.Thursday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.mobile.Thursday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Thursday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Thursday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.mobile.Thursday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.mobile.Thursday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.mobile.Thursday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.mobile.Thursday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Thursday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Thursday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.mobile.Thursday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Friday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Friday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.mobile.Friday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.mobile.Friday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Friday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Friday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.mobile.Friday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.mobile.Friday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.mobile.Friday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.mobile.Friday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Friday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Friday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.mobile.Friday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Saturday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Saturday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.mobile.Saturday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.mobile.Saturday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Saturday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.mobile.Saturday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.mobile.Saturday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.mobile.Saturday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.mobile.Saturday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.mobile.Saturday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Saturday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.mobile.Saturday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.mobile.Saturday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>
          </ul>
        </div>

        <div
          v-if="locations.static"
          class="availability__week"
        >
          <p class="title text-xs-center text-sm-center text-md-center">
            Static 1
          </p>
          <ul class="availability__days">
            <!-- Sunday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Sunday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.static.Sunday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.static.Sunday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Sunday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Sunday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.static.Sunday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.static.Sunday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.static.Sunday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.static.Sunday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Sunday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Sunday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.static.Sunday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Monday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Monday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.static.Monday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.static.Monday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Monday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Monday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.static.Monday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.static.Monday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.static.Monday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.static.Monday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Monday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Monday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.static.Monday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Tuesday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Tuesday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.static.Tuesday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.static.Tuesday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Tuesday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Tuesday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.static.Tuesday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.static.Tuesday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.static.Tuesday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.static.Tuesday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Tuesday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Tuesday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.static.Tuesday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Wednesday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Wednesday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.static.Wednesday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.static.Wednesday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Wednesday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Wednesday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.static.Wednesday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.static.Wednesday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.static.Wednesday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.static.Wednesday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Wednesday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Wednesday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.static.Wednesday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Thursday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Thursday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.static.Thursday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.static.Thursday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Thursday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Thursday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.static.Thursday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.static.Thursday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.static.Thursday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.static.Thursday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Thursday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Thursday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.static.Thursday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Friday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Friday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.static.Friday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.static.Friday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Friday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Friday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.static.Friday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.static.Friday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.static.Friday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.static.Friday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Friday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Friday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.static.Friday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>

            <!-- Saturday -->
            <li class="availability__day">
              <div class="availability__switch">
                <v-switch
                  label="Saturday"
                  color="success"
                  hide-details
                  class="locations-switch"
                  v-model="availability.static.Saturday.show"
                ></v-switch>
              </div>
              <transition name="fade">
                <div
                  v-if="availability.static.Saturday.show"
                  class="availability__time"
                >
                  <div class="availability__time-inners availability-hours">
                    <div class="availability__time-inner">
                      <div class="availability__time-title">Hours</div>
                      <!-- from -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Saturday.available.from"
                        disable-date
                      />
                    </div>
                    <div class="availability__time-inner">
                      <div class="availability__time-title">To</div>
                      <!-- to -->
                      <ctk-date-time-picker
                        formatted="HH:mm"
                        format="HH:mm"
                        time-format="HH:mm"
                        label="Choose time"
                        :minute-interval="30"
                        v-model="availability.static.Saturday.available.to"
                        disable-date
                      />
                    </div>
                    <div
                      v-show="!availability.static.Saturday.show_break"
                      class="availability__time-btn"
                    >
                      <v-btn
                        class="text-xs-center text-sm-center text-md-center skip"
                        flat
                        small
                        @click="availability.static.Saturday.show_break = true"
                      >Add break</v-btn>
                    </div>
                    <div
                      v-show="availability.static.Saturday.show_break"
                      class="availability__time-btn"
                    >
                      Break
                    </div>
                  </div>
                  <!-- break -->
                  <transition name="fade">
                    <div
                      v-if="availability.static.Saturday.show_break"
                      class="availability__time-inners availability-break"
                    >
                      <div class="availability__time-inner">
                        <div class="availability__time-title">Hours</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Saturday.break.from"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-inner">
                        <div class="availability__time-title">To</div>
                        <ctk-date-time-picker
                          formatted="HH:mm"
                          format="HH:mm"
                          time-format="HH:mm"
                          label="Choose time"
                          :minute-interval="30"
                          v-model="availability.static.Saturday.break.to"
                          disable-date
                        />
                      </div>
                      <div class="availability__time-btn">
                        <v-btn
                          class="text-xs-center text-sm-center text-md-center skip"
                          flat
                          small
                          @click="availability.static.Saturday.show_break = false"
                        >Remove break</v-btn>
                      </div>
                    </div>
                  </transition>
                </div>
              </transition>
            </li>
          </ul>
        </div>

      </div>

      <div class="text-xs-center">
        <v-btn
          color="error"
          :disabled="!isAvailabilitySelected"
          @click="printInfo()"
        >
          Print
        </v-btn>
      </div>
    </div>


      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
/* eslint-disable */
import Vue from 'vue'

import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

Vue.component('ctk-date-time-picker', VueCtkDateTimePicker);

export default {
  data () {
    return {
      locations: {
        mobile: true,
        static: true
      },

      availability: {
        "mobile": {
          "Sunday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Monday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Tuesday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Wednesday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Thursday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Friday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Saturday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          }
        },
        "static": {
          "Sunday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Monday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Tuesday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Wednesday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Thursday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Friday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          },
          "Saturday": {
            "show": false,
            "available": {
              "from": "09:00",
              "to": "18:00"
            },
            "show_break": false,
            "break": {
              "from": "13:00",
              "to": "14:00"
            }
          }
        }
      }
    }
  },
  computed: {
    filteredAvailability: function () {
      return this.filterAvailabilityData(JSON.stringify(this.availability))
    },
    isAvailabilitySelected: function () {
      return this.availability.mobile.Sunday.show || this.availability.mobile.Monday.show ||
        this.availability.mobile.Tuesday.show || this.availability.mobile.Wednesday.show ||
        this.availability.mobile.Thursday.show || this.availability.mobile.Friday.show ||
        this.availability.mobile.Saturday.show || this.availability.static.Sunday.show ||
        this.availability.static.Monday.show || this.availability.static.Tuesday.show ||
        this.availability.static.Wednesday.show || this.availability.static.Thursday.show ||
        this.availability.static.Friday.show || this.availability.static.Saturday.show;
    }
  },
  methods: {
    filterAvailabilityData (data) {
      let json_data = JSON.parse(data);

      let filtered_data = {};
      for (let service in json_data) {
        if (service === 'mobile') {
          filtered_data[1] = {};
          for (let day in json_data[service]) {
            if (json_data[service][day]['show']) {
              filtered_data[1][day] = { 'available': json_data[service][day]['available'] }
              if (json_data[service][day]['show_break']) {
                filtered_data[1][day] = {
                  'available': json_data[service][day]['available'],
                  'break': json_data[service][day]['break']
                }
              } else {
                filtered_data[1][day] = {
                  'available': json_data[service][day]['available'],
                  'break': {}
                }
              }
            } else {
              filtered_data[1][day] = {};
            }
          }
        }
        if (service === 'static') {
          filtered_data[2] = {};
          for (let day in json_data[service]) {
            if (json_data[service][day]['show']) {
              filtered_data[2][day] = { 'available': json_data[service][day]['available'] }
              if (json_data[service][day]['show_break']) {
                filtered_data[2][day] = {
                  'available': json_data[service][day]['available'],
                  'break': json_data[service][day]['break']
                }
              } else {
                filtered_data[2][day] = {
                  'available': json_data[service][day]['available'],
                  'break': {}
                }
              }
            } else {
              filtered_data[2][day] = {};
            }
          }
        }
      };
      return filtered_data;
    },
    printInfo () {
      console.log(JSON.stringify(this.filteredAvailability))
    }
  },
};
</script>

<style>
</style>
